<div
  class="h-screen sticky w-auto lg:w-[400px] top-0 pr-0 pt-0 p-4 md:pr-20 lg:pl-20 lg:pr-5 text-sm lg:text-md xl:text-2xl border-r border-gray-300"
>

  <div class="flex h-full flex-col justify-between">
    <div class="space-y-4 md:space-y-2">
      <a href="/" class="flex items-center space-x-4 pl-0 py-4 px-4 sm:px-8">
        <div class="hover:bg-blue-50 py-5 px-4 rounded-full"><svg
            class="block h-7"
            viewBox="328 355 335 276"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="
    M 630, 425
    A 195, 195 0 0 1 331, 600
    A 142, 142 0 0 0 428, 570
    A  70,  70 0 0 1 370, 523
    A  70,  70 0 0 0 401, 521
    A  70,  70 0 0 1 344, 455
    A  70,  70 0 0 0 372, 460
    A  70,  70 0 0 1 354, 370
    A 195, 195 0 0 0 495, 442
    A  67,  67 0 0 1 611, 380
    A 117, 117 0 0 0 654, 363
    A  65,  65 0 0 1 623, 401
    A 117, 117 0 0 0 662, 390
    A  65,  65 0 0 1 630, 425
    Z"
              style="fill:#3BA9EE;"
            ></path>
          </svg>
        </div>
      </a>
      <a
        href="/"
        class="flex items-center space-x-4 py-4 px-4 sm:px-8 rounded-full hover:bg-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="currentColor"
          class="bi bi-house"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
          ></path>
          <path
            fill-rule="evenodd"
            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
          ></path>
        </svg>
        <p class="hidden sm:block">Home</p>
      </a>
      <button
        class="flex items-center space-x-4 py-4 px-4 sm:px-8 rounded-full hover:bg-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="currentColor"
          class="bi bi-bell"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
          ></path>
        </svg>
        <p class="hidden sm:block">Notifications</p>
      </button>
      <button
        class="flex items-center space-x-4 py-4 px-4 sm:px-8 rounded-full hover:bg-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="currentColor"
          class="bi bi-envelope"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
          ></path>
        </svg>
        <p class="hidden sm:block">Messages</p>
      </button>
      <button
        class="flex items-center space-x-4 py-4 px-4 sm:px-8 rounded-full hover:bg-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="currentColor"
          class="bi bi-bookmark"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
          ></path>
        </svg>
        <p class="hidden sm:block">Bookmarks</p>
      </button>
      <a
        href="/user/{{userId}}"
        method="get"
        class="flex items-center space-x-4 py-4 px-4 sm:px-8 rounded-full hover:bg-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="currentColor"
          class="bi bi-person"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
          ></path>
        </svg>
        <p class="hidden sm:block">Profile</p>
      </a>

      <button
        class="bg-blue-400 hover:bg-blue-500 font-semibold text-white p-4 sm:p-4 w-auto sm:w-full rounded-full"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-6 fill-white sm:hidden"
        ><g><path
              d="M8.8 7.2H5.6V3.9c0-.4-.3-.8-.8-.8s-.7.4-.7.8v3.3H.8c-.4 0-.8.3-.8.8s.3.8.8.8h3.3v3.3c0 .4.3.8.8.8s.8-.3.8-.8V8.7H9c.4 0 .8-.3.8-.8s-.5-.7-1-.7zm15-4.9v-.1h-.1c-.1 0-9.2 1.2-14.4 11.7-3.8 7.6-3.6 9.9-3.3 9.9.3.1 3.4-6.5 6.7-9.2 5.2-1.1 6.6-3.6 6.6-3.6s-1.5.2-2.1.2c-.8 0-1.4-.2-1.7-.3 1.3-1.2 2.4-1.5 3.5-1.7.9-.2 1.8-.4 3-1.2 2.2-1.6 1.9-5.5 1.8-5.7z"
            ></path></g>
        </svg>
        <span class="hidden sm:block">Tweet</span>
      </button>

    </div>
    <div>
      <form
        class="cursor-pointer mb-0 flex items-center border-0 py-1 px-3 focus:outline-none text-base"
        action="/log-out"
        method="post"
      >
        <div class="flex justify-start items-center w-full">
          <img
            class="mr-0 sm:mr-2 w-[40px] sm:w-[60px]"
            src="https://avatars.githubusercontent.com/u/5972004?v=4?s=400"
            alt="Charles Krook"
          />
          <div class="flex flex-col justify-start w-full hidden sm:block">
            <b>{{username}}</b>
            <p class="text-gray-400">@{{username}}</p>
          </div>
          <div class="flex justify-end">
            <label
              class="cursor-pointer hover:bg-gray-200 p-5 rounded-full hidden sm:block"
            >
              <input
                type="submit"
                class="hidden sm:block"
                name="mysubmit"
                value="val1"
                style="display: none;"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-box-arrow-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                ></path>
                <path
                  fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                ></path>
              </svg>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>