{{!Edit a post }}
<div class="w-full">
  <div class="flex">

    <form class="mb-0 w-full" action="/post/edit/{{post._id}}" method="POST">
      <textarea
        class="w-full mb-5 resize-none border-b-2 border-gray-200"
        name="content"
        cols="30"
        rows="4"
        placeholder="Update your post"
      >{{post.content}}</textarea>
      <input
        value="Save"
        type="submit"
        class="w-32 py-2 px-4 my-2 bg-blue-400 hover:bg-blue-500 focus:ring-blue-400 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full cursor-pointer"
      />
    </form>
  </div>
  <form action="/post/delete/{{post._id}}" method="post" class="mb-0">
    <input
      type="submit"
      class="cursor-pointer text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
      value="Delete post"
    />
  </form>
</div>
{{!Edit a post ends }}