<div class="flex p-10 gap-10 border-b">
  <div class="avatar">
    <a href="/">
      <img
        id="avatar"
        class="rounded-full w-20"
        src="{{profile.profilePicture}}"
        alt=""
      />
    </a>
  </div>
  <div class="w-full">
    <form class="mb-0" action="/post/new" method="post">
      <textarea
        class="w-full mb-5 resize-none border-b-2 border-gray-200"
        name="content"
        id="tweet-form"
        cols="30"
        rows="4"
        placeholder="Whats on your mind?"
      ></textarea>
      <p id="word-count" class="text-gray-400"></p>
      <div class="flex justify-end">
        <input
          value="Send"
          type="submit"
          id="tweet-button"
          class="w-32 py-2 px-4 bg-blue-400 hover:bg-blue-400 focus:ring-blue-400 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full"
          disabled
        />

      </div>
    </form>
  </div>
</div>