<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <link rel="stylesheet" href="/style.css" />

    <title>Twitter Clone</title>
  </head>
  <body>
    <main class="flex h-screen overflow-auto w-full m-auto">
      {{#if loggedIn}}
        {{>aside}}
        {{{body}}} 
        {{>footer}}
      {{else}}
        {{{body}}}
        {{>footer}}
      {{/if}}
    </main>
        <script src="/main.js"></script>
  </body>
</html>