{{#if loggedIn}}

<div class="flex-grow h-screen overflow-y-scroll scrollbar-hide">
  <div class="flex w-full lg:w-11/12">
    <div class="border-r border-gray-200">
      {{>edit-post-header}}
      {{>edit-post}}
    </div>
    </div>
  </div>
</div>

{{else}}
    {{>login-module}}
{{/if}} 