{{#if loggedIn}}

<div class="flex-grow h-screen overflow-y-scroll scrollbar-hide">
  <div class="flex w-full lg:w-11/12">
    <div class="w-[1000px] border-r border-gray-200">
      {{>page-header}}
      {{>post-form}}
      {{>post-feed}}
    </div>
    <div class="w-[700px] p-5 h-screen sticky top-0 hidden lg:block">
      {{>search-input}}
      <div class=" flex flex-col bg-gray-100 text-gray-700 w-full rounded-2xl p-5">
        {{>follow-feed}}
      </div>
    </div>
  </div>
</div>

{{else}}
  {{>login-module}}
{{/if}}