<div class="w-full flex flex-col justify-center content-center">
    <div class="w-full flex flex-col justify-center content-center gap-10">
        <p class="flex justify-center text-gray-500">
            Hmmmm.... This page doesn't not exist. Please return to homepage
        </p>
        <div class="flex justify-center">
            <a href="/" class="w-32 py-2 px-4 bg-blue-400 hover:bg-blue-500 focus:ring-blue-400 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-full">Home</a>
        </div>
    </div>
</div>