<div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
  <div class="max-w-lg mx-auto">
    <h1 class="text-2xl font-bold text-center text-indigo-600 sm:text-3xl">Fill in extra information</h1>

    <p class="max-w-md mx-auto mt-4 text-center text-gray-500">
      Join our community within seconds. Share whatever is on your mind and like your friends posts.
    </p>
    <div class="p-8 mt-6 mb-0 rounded-lg shadow-2xl">
    <form
      action="/sign-up-extra"
      class="space-y-4" method="POST"
    >
      <p class="text-lg font-medium">Add some extra details to your profile</p>

        <div>
        <label for="dateOfBirth" class="text-sm font-medium">Date of birth</label>
          <input class="w-full p-3 text-sm border-gray-200 rounded-lg" placeholder="Select birthdate" type="date" id="dateOfBirth" name="dateOfBirth" />
            <p class="text-sm text-left text-gray-500 py-5">This will not be shown publicly.</p>
        </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
            <label for="city" class="text-sm font-medium">City</label>
              <input
                class="w-full p-3 text-sm border-gray-200 rounded-lg"
                placeholder="City"
                type="text"
                id="city" name="city"
              />
            </div>

            <div>
              <label for="phonenumber" class="text-sm font-medium">Phone number</label>
              <input
                class="w-full p-3 text-sm border-gray-200 rounded-lg"
                placeholder="+000 000 00 00"
                type="tel"
                id="phonenumber" name="phonenumber"
              />
            </div>
          </div>
  
  
      <div>
        <label for="website" class="text-sm font-medium">Website</label>
        <div class="relative mt-1">
          <input
            type="text"
            id="website" name="website" 
            class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
            placeholder="Enter URL"
          />

          <span class="absolute inset-y-0 inline-flex items-center right-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
              ></path>
            </svg>
          </span>
        </div>
      </div>


      <div>
        <label for="bio" class="text-sm font-medium">Bio</label>

        <div class="relative mt-1">
          <textarea
            type="text"
            id="bio" name="bio"
            class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
            placeholder="Write something about yourself"
          /></textarea>

          <span class="absolute inset-y-0 inline-flex items-center right-4">
           
          </span>
        </div>
      </div>
      <div>

        <label for="profile-picture" class="text-sm font-medium">Profile picture</label>
        
        {{!-- <form method="POST" enctype="multipart/form-data" action="/upload">
          <input type="file" name="file" id="profile-picture" name="profile-picture"
            class="w-full p-4 pr-12 my-5 text-sm border-gray-200 rounded-lg shadow-sm"
            placeholder="Choose file"
          />
      </form> --}}

          <span class="absolute inset-y-0 inline-flex items-center right-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
              ></path>
            </svg>
          </span>
        </div>
        

      <button
        type="submit"
        class="block w-full px-5 py-3 text-sm font-medium text-white bg-indigo-600 rounded-lg"
      >
        Complete profile
      </button>
      </div>
    </form>
    
    {{!-- <p class="text-sm text-center text-gray-500"> --}}
      {{!-- <form action="/home" method="GET">
        <button class="underline my-5" href="/">Lets do this later..</button>
      </form> --}}
    </div>
    </p>
  </div>
</div>